@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    background: #1F2937;
    color: #E5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
}

.headerlogo {
    font-size: 24px;
    font-weight: 800;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.topspot {
    background: #1f2937;
    display: flex;
    padding: 100px 200px;
    gap: 48px;
    align-items: stretch;
    justify-content: space-between;
}

.herotext {
    font-size: 18px;
    color: #e5e7eb;
    width: 40%;
}

.herotext h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.signup {
    background: #3882f6;
    border-radius: 8px;
    padding: 8px 32px;
    display: inline-block;
    font-weight: 600;
}

.herotext .signup {
    margin-top: 15px;
}

.imageplaceholder {
    background: grey;
    color: white;
    display:flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}

.cardbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1f2937;
    padding: 50px 200px;
}

.cardbox h1 {
    font-size: 36px;
    font-weight: 900;
}

.cards {
    display:flex;
    padding: 50px 200px;
    gap: 75px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card p {
    width: 150px;
}

.box {
    border: 4px solid #3882f6;
    border-radius: 12px;
    height: 150px;
    width: 150px;
}