@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.header {
    background: #1F2937;
    color: #E5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
}

.headerlogo {
    font-size: 24px;
    font-weight: 800;
}

.links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
}